.body {
  background-color: black;
  color: rgb(255, 255, 255);
  width: 100vw;
  height: 100vh;
  font-family: serif "Times New Roman", Times, serif;
}
.image {
  background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/73334647-ad51-42a9-b07b-93298cc2a8e1/2b0fca4f-c15c-4622-9efc-572c4a408c30/IN-en-20230605-popsignuptwoweeks-perspective_alpha_website_large.jpg);
  width: 100%;
  height: 100vh;
  filter: brightness(70%);
  padding-top: 25px;
}

.Nav {
  width: 100vw;
  height: 150px;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
}

.qustion {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
}
.accordion {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}
.acoridio_header {
  background: rgba(51, 49, 49, 0.4);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.accordion_body {
  background: rgba(51, 49, 49, 0.2);
  padding: 25px;
  font-size: 20px;
  text-align: justify;
}
.text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}
.para {
  margin-top: 5px;
  font-size: 20px;
}

.email {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  width: 70%;
  gap: 10px;
}
.startbtn {
  width: 155px;
  height: 45px;
  background: red;
  font-size: 20px;
  color: whitesmoke;
  border: none;
  border-radius: 6px;
  align-items: center;
}

.optionBtn1 {
  margin-top: 50px;
}

.btn {
  background-color: rgba(128, 128, 128, 0.429);
  width: 100px;
  border: 2px solid white;
}
